!!!
%html
  %head
    %title= page_title

    = csrf_meta_tags

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,700'
    = stylesheet_link_tag 'admin/application', media: 'all'

    = javascript_include_tag 'admin/require-config'
    = javascript_include_tag 'require', data: { main: 'admin/application' }

    = render 'admin/application/flash', flash: flash

    :javascript
      window.MODAL_NAME = '#{j params[:modal]}'

    = view_script_tag
    = yield :js


  %body{ id: controller_name, class: action_name }

    #modal_container{ class: [content_for?(:modal_header) && 'has-header', content_for?(:modal_footer) && 'has-footer'] }

      - if content_for? :modal_header
        .modal-header
          = yield :modal_header

      = yield

      - if content_for? :modal_footer
        .modal-footer
          = yield :modal_footer
