.row
  .col-ab-a
    %h3
      Text field
      %code input[type="text"]

    %table.table
      %thead
        %tr
          %th 要素
          %th サンプル

      %tbody
        %tr
          %td
            %code E.text
          %td
            = text_field_tag '', '', class: 'text'

        %tr
          %td
            %code
              span.text > E

          %td
            %span.text= text_field_tag '', ''

        %tr
          %td
            %code
              span.text.icon-xxx > E

          %td
            %span.text.icon-user= text_field_tag '', ''

        %tr
          %td
            %code span.text.icon-xxx.icon-on-left > E

          %td
            %span.text.icon-key.icon-on-left= text_field_tag '', ''


    %h3
      Select box
      %code select

    %table.table
      %thead
        %tr
          %th 要素
          %th サンプル

      %tbody
        %tr
          %td
            %code .select > E
          %td
            %span.select
              = select '', '', [['オプション', 0], ['オプション', 1], ['オプション', 2]], { prompt: '選択して下さい' }


    %h3
      Checkbox
      %code input[type="checkbox"]

    %table.table
      %thead
        %tr
          %th 要素
          %th サンプル

      %tbody
        %tr
          %td
            %code E.checkbox
          %td
            = check_box_tag '', '', true, class: 'checkbox'

        %tr
          %td
            %code label.checkbox > E
          %td
            = label_tag '', class: 'checkbox' do
              = check_box_tag '', '', true
              チェックボックス


    %h3
      Radio button
      %code input[type="radio"]


    %table.table
      %thead
        %tr
          %th 要素
          %th サンプル

      %tbody
        %tr
          %td
            %code E.radio
          %td
            = radio_button_tag '', '', true, class: 'radio'

        %tr
          %td
            %code label.radio > E

          %td
            = label_tag '', class: 'radio' do
              = radio_button_tag 'smaple-label-radio', '1', true
              ラジオボタン

            = label_tag '', class: 'radio' do
              = radio_button_tag 'smaple-label-radio', '2', false
              ラジオボタン


  .col-ab-b
    %h3
      Button
      %code a, button, input[type"button"], input[type="submit"]

    %table.table
      %thead
        %tr
          %th 要素
          %th サンプル

      %tbody
        %tr
          %td
            %code E.btn
          %td
            = link_to 'ボタン', '#', class: 'btn'

        %tr
          %td
            %code E.btn.btn-primary
          %td
            = link_to 'ボタン', '#', class: 'btn btn-primary'

        %tr
          %td
            %code E.btn.btn-danger
          %td
            = link_to 'ボタン', '#', class: 'btn btn-danger'

        %tr
          %td
            %code E.btn.btn-success
          %td
            = link_to 'ボタン', '#', class: 'btn btn-success'


    %h3 サイズ

    %table.table
      %thead
        %tr
          %th サイズ
          %th ボタン
          %th Text field
          %th Select box

      %tbody
        %tr
          %td
            %code .size-small
          %td
            = link_to 'ボタン', '#', class: 'btn size-small'
          %td
            なし
          %td
            なし

        %tr
          %td
            普通
          %td
            = link_to 'ボタン', '#', class: 'btn'
          %td
            = text_field_tag '', '', class: 'text'
          %td
            %span.select
              = select '', '', [['オプション', 0], ['オプション', 1], ['オプション', 2]], { prompt: '選択して下さい' }

        %tr
          %td
            %code .size-large
          %td
            = link_to 'ボタン', '#', class: 'btn size-large'
          %td
            = text_field_tag '', '', class: 'text size-large'
          %td
            %span.select.size-large
              = select '', '', [['オプション', 0], ['オプション', 1], ['オプション', 2]], { prompt: '選択して下さい' }

    %table.table
      %thead
        %tr
          %th サイズ
          %th ラジオボタン
          %th チェックボックス

      %tbody
        %tr
          %td
            普通
          %td
            = label_tag '', class: 'radio' do
              = radio_button_tag 'smaple-label-radio', '1', true
              ラジオボタン
          %td
            = label_tag '', class: 'checkbox' do
              = check_box_tag '', '', true
              チェックボックス

        %tr
          %td
            %code .size-large
          %td
            = label_tag '', class: 'radio size-large' do
              = radio_button_tag 'smaple-label-radio', '1', true
              ラジオボタン
          %td
            = label_tag '', class: 'checkbox size-large' do
              = check_box_tag '', '', true
              チェックボックス

    %h3
      ブロック
      %code .block

    %p= link_to 'ボタン', '#', class: 'btn block'

    %p= text_field_tag '', '', class: 'text block'

    %p
      %div.select
        = select '', '', [['オプション', 0], ['オプション', 1], ['オプション', 2]], { prompt: '選択して下さい' }

