#main
  .row
    .col-ab-a
      %h2 見出し 2

      %h3 見出し 3
      %p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。

      %h4 見出し 4
      %p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。

      %h5 見出し 5
      %p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。

    .col-ab-b

      %h2 リスト

      .row
        .col-ab-a
          %ul
            - 4.times do |i|
              %li 箇条書き #{i + 1}

        .col-ab-b
          %ol
            - 4.times do |i|
              %li 順序リスト #{i + 1}


  %h2 Components

  .row
    .col-ab-a

      %h3 Modal

      = button_tag 'Open', class: 'btn', id: 'sample_modal'

    .col-ab-b

      %h3 Alert

      = button_tag 'Open', class: 'btn', id: 'sample_alert'


  %h2 Form

  = render 'admin/sample/form'

  %h2 アイコン 239種類

  = render 'admin/sample/icons'



.hide
  #sample_modal_window
    %header.modal-header
      %h2 dsfa
    .modal-content
      asdf
    %footer.modal-footer


:coffee

  require [
    'jquery'
    'common/alert'
    'common/modal'
  ], ($, Alert, Modal) ->
    $('#sample_alert').on 'click', ->
      Alert
        title: 'Title'
        message: 'description'
        type: 'danger'
        btns: [
          { text: 'OK', action: 'close', type: 'danger' }
          { text: 'Cancel', action: 'cancel' }
          { text: 'Retry', action: 'retry', type: 'success', align: 'right' }
        ]
        callback: (action, al1) ->
          switch action
            when 'cancel'
              al1.close()
            when 'retry'
              Alert
                title: 'Are you sure?'
                message: (t) ->
                  "Retry \#{al1.config.title}"
                btns: [
                  { text: 'OK', action: 'okay', type: 'danger' }
                  { text: 'Cancel', action: 'cancel', type: 'success' }
                ]
                callback: (action2, al2) ->
                  switch action2
                    when 'cancel'
                      al2.close()
                    when 'okay'
                      al2.close()
                      setTimeout (-> al1.close()), 200


    SampleModal = Modal
      content: '#sample_modal_window'
      callback: ($modal) ->
        # callbacks

    $('#sample_modal').on 'click', ->
      SampleModal.open()
