- content_for :menubar do
  - if @medium.asset.present?
    = link_to '', @medium.asset.url, target: '_blank', class: 'icon-link'


= form_for [:admin, @medium], html: { multipart: true, id: 'medium_form' } do |f|
  #pocket_body
    #main
      - if @medium.asset.present?

        - if @medium.image?
          #zoom
            = image_tag @medium.asset.url, id: 'cropbox'

          #zoom_controller
            = button_tag 'Zoom In', class: 'zoom-in'
            = button_tag 'Zoom Out', class: 'zoom-out'
            %input{ type: 'range', class: 'zoom-range' }
            = button_tag 'Reset', class: 'reset'

          - %w[crop_x crop_y crop_w crop_h].each do |a|
            = f.hidden_field a, id: a, class: 'text'

        - else

          No Preview

      - else

        = f.file_field :asset

  #pocket_side
    %section
      %h2
        ファイル情報

      %table.form.table-doubled
        %tr
          %td
            %h3= f.label :title, 'タイトル'
            = f.text_field :title, class: 'text block'
        %tr
          %td
            %h3= f.label :description, '説明文'
            = f.text_area :description, size: '30x5', class: 'textarea block'

        %tr
          %td
            = f.submit nil, class: 'btn btn-primary block'

        - if @medium.asset.present?
          %tr.condensed
            %td
              = f.button 'アップロードし直す', class: 'btn btn-success block'

    - if @medium.asset.present?
      %section
        %h2 ファイルを削除
        = link_to '削除する', admin_medium_path(@medium), method: :delete, confirm: true, class: 'btn btn-danger block'


:coffee
  require ['jquery', 'jcrop', 'panzoom', 'domReady!'], ($) ->
    $x = $ '#crop_x'
    $y = $ '#crop_y'
    $w = $ '#crop_w'
    $h = $ '#crop_h'

    update_crop = (coords) ->
      $x.val coords.x
      $y.val coords.y
      $w.val coords.w
      $h.val coords.h

    getSelection = ->
      x = parseInt $x.val(), 10
      y = parseInt $y.val(), 10
      w = parseInt $w.val(), 10
      h = parseInt $h.val(), 10

      return if isNaN x + y + w + h

      [x, y, x + w, y + h]

    $('#cropbox').Jcrop
      onChange: update_crop
      onSelect: update_crop
      setSelect: getSelection()
      # aspectRatio: 1

    $zoom_controller = $ '#zoom_contorller'

    $('#zoom').panzoom
      $zoomIn: $ '.zoom-in'
      $zoomOut: $ '.zoom-out'
      $zoomRange: $ '.zoom-range'
      $reset: $ '.reset'

