
#main
  = form_for [:admin, @medium] do |f|

    = f.label :title
    = f.text_field :title, class: 'text'

    %br
    %br

    = f.label :description
    = f.text_area :description, size: '30x5', class: 'textarea'

    %br
    %br

    - if @medium.asset.present?

      = link_to @medium.asset_file_name, @medium.asset.url
      = f.check_box :asset_delete, class: 'checkbox'

      %br

      = image_tag @medium.asset.url(:large), id: 'cropbox'

      - %w[crop_x crop_y crop_w crop_h].each do |a|
        = f.text_field a, id: a, class: 'text'

    - else
      = f.file_field :asset, class: 'text'

    %br
    %br

    = f.submit nil, class: 'btn btn-primary'


:coffee
  require ['jquery', 'jcrop', 'domReady!'], ->
    update_crop = (coords) ->
      $('#crop_x').val coords.x
      $('#crop_y').val coords.y
      $('#crop_w').val coords.w
      $('#crop_h').val coords.h

    $('#cropbox').Jcrop
      onChange: update_crop
      onSelect: update_crop
      setSelect: [0, 0, 500, 500]
      # aspectRatio: 1

