
- content_for :menubar do
  = link_to '', '#', class: 'icon-plus'


#pocket_body
  #main
    %ul#media_list
      - @media.each do |medium|
        %li{ id: medium.id, data: { id: medium.id, title: medium.title, description: medium.description } }
          - if medium.image?
            .preview-image{ style: "background-image: url(#{medium.asset.url(:small)});" }
              .title
                = link_to '', admin_medium_path(medium), remote: true, method: :delete, class: 'icon-delete'
                = link_to '', edit_admin_medium_path(medium), class: 'icon-edit'
                %br
                = medium.title

          - else
            .preview-image.file
              .info
                %i= medium.file_type
                %span= medium.title
                = link_to '', admin_medium_path(medium), remote: true, method: :delete, class: 'icon-delete'
                = link_to '', edit_admin_medium_path(medium), class: 'icon-edit'

    #dropbox{ 'data-post-url' => admin_media_path }
      %p ファイルをドラッグ&ドロップしてアップロード
      = file_field_tag :medium_asset, multiple: true, class: 'hide'


#pocket_side
  = form_for :medium, url: bulk_admin_media_path, html: { multipart: true, id: 'medium_form' } do |f|

    = f.hidden_field :ids

    %div.view{ 'data-state' => 'grid' }
      %p
        %i.icon-image
        サムネイルを選択して編集するか
        %br
        ファイルをドラッグ&ドロップして
        %br
        アップロードして下さい。

    %div.view.hide{ 'data-state' => 'selecting' }
      %section
        %h2
          ファイル情報
          = link_to '', '#', class: 'icon-crop'

        %table.form.table-doubled
          %tr
            %td
              %h3= f.label :title, 'タイトル'
              = f.text_field :title, class: 'text block'
          %tr
            %td
              %h3= f.label :description, '説明文'
              = f.text_area :description, size: '30x5', class: 'textarea block'

          %tr
            %td
              = f.submit nil, class: 'btn btn-primary block'

      %section
        %h2 ファイルを削除
        = button_tag '削除する', class: 'btn btn-danger block'


    %div.view.hide{ 'data-state' => 'bulk' }