
- content_for :menubar do
  = link_to '', '#', class: 'icon-plus', title: 'メディアを追加'

- content_for :modal_header do
  - if 'thumbnail' == params[:modal]
    %h2 サムネイルを選択
  - else
    %h2 メディアを選択

- content_for :modal_footer do
  = button_tag '挿入する', class: 'btn btn-primary'


#pocket_body
  #main.loader
    %ul#media_list

    #dropzone
      %p ファイルをドラッグ&ドロップしてアップロード
      = file_field_tag :medium_asset, multiple: true, class: 'hide'


#pocket_side
  %div{ 'data-state' => 'grid' }
    %p
      %i.icon-compass
      サムネイルを選択して編集するか
      %br
      ファイルをドラッグ&ドロップして
      %br
      アップロードできます

  %div.hide{ 'data-state' => 'selecting' }
    %section
      %h2
        ファイル情報
        = link_to '', '#', id: 'btn_crop', class: 'icon-crop', title: '画像の切り抜き'
        = link_to '', '#', id: 'btn_link', target: '_blank', class: 'icon-link', title: 'リンクをコピー'

      %table.form.table-doubled
        %tr
          %td
            %h3= label_tag :medium_title, 'タイトル'
            = text_field_tag :medium_title, '', class: 'text block'
        %tr
          %td
            %h3= label_tag :medium_description, '説明文'
            = text_area_tag :medium_description, '', size: '30x5', class: 'textarea block'

        %tr
          %td
            = button_tag '更新する', id: 'btn_update', class: 'btn btn-primary block'

    %section
      %h2 ファイルを削除
      = button_tag '削除する', id: 'btn_delete', class: 'btn btn-danger block'


  %div.hide{ 'data-state' => 'bulk' }
    %section
      %h2
        %span.counter 0
        項目を選択中

      = button_tag '選択を解除する', id: 'btn_disselect', class: 'btn block'

    %section
      %h2 一括削除
      = button_tag '全て削除する', id: 'btn_delete_all', class: 'btn btn-danger block'


.hide
  #edit_medium.has-header
    %header.modal-header
      %h2 画像の切り抜き
    .modal-content
      #cropbox

