
= form_for [:admin, @post], html: { id: 'post_form', 'data-id' => params[:id] } do |f|

  #pocket_body
    #main.no-padding.loader
      = f.text_field :title, placeholder: 'タイトルを入力してください', autocomplete: 'off'

      .menubar
        %ul
          %li
            %a.tooltip.icon-link{ title: 'リンク挿入' }
          %li
            %a.tooltip.icon-image{ title: 'メディア挿入' }

          %li.divide
            %a.tooltip.icon-bold{ title: '太字' }
          %li
            %a.tooltip.icon-italic{ title: '斜字' }
          %li
            %a.tooltip.icon-underline{ title: '下線' }
          %li
            %a.tooltip.icon-strike{ title: '打消' }
          %li
            %a.tooltip.icon-quote{ title: '引用' }
          %li
            %a.tooltip.icon-code{ title: 'コード' }

        %ul.right
          %li#editor_mode_md
            %a.tooltip{ title: 'Markdown モード' }
              MD
          %li#editor_mode_html
            %a.tooltip{ title: 'HTML モード' }
              HTML

      = f.text_area :content, class: 'hide'
      #post_content_ace


  #pocket_side

    %section
      %h2 ステータス

      %table.form
        %tr
          %td{ width: '50px' }
            = f.label :status, '公開状況'
          %td{ colspan: 2 }
            %div.select
              = f.select :status, { '非公開' => 0, '公開' => 1 }
        %tr
          %td
            = f.label :user_id, '作成者'
          %td{ colspan: 2 }
            %div.select
              = f.collection_select :user_id, User.admin, :id, :name

        %tr
          %td
            = f.label :date_str, '公開日時'
          %td{ width: '110px' }
            .text.icon-dailycalendar
              = f.text_field :date_str, placeholder: '保存時'
          %td
            .text.icon-time
              = f.text_field :time_str, placeholder: '保存時'

        %tr.doubled
          %td{ colspan: 3 }
            = button_tag '保存する', id: 'btn_save', class: 'btn btn-primary block'

    %section
      %h2 サムネイル

      #post_thumbnail.post-thumbnail{ 'data-thumbnail' => @post.thumbnail.present? && @post.thumbnail.asset.url(:thumbnail) }

      = f.hidden_field :thumbnail_id

    %section
      %h2 タグ
      = f.text_field :tag_list, class: 'text block', placeholder: 'タグを入力...'

    %section
      %h2 記事を削除

      = button_tag '削除する', id: 'btn_delete', class: 'btn btn-danger block'

