
= form_for [:admin, @post], html: { multipart: true, id: 'post_form' }, remote: true do |f|

  #pocket_body
    #main.no-padding
      = f.text_field :title, placeholder: 'タイトルを入力してください', autocomplete: 'off'

      .menubar
        %ul
          %li
            %a.tooltip.icon-link{ href: '#', title: 'リンク挿入' }
          %li
            %a.tooltip.icon-image{ href: '#', title: 'メディア挿入' }
          %li.divide
            %a.tooltip.icon-bold{ href: '#', title: '太字' }
          %li
            %a.tooltip.icon-italic{ href: '#', title: '斜字' }
          %li
            %a.tooltip.icon-underline{ href: '#', title: '下線' }
          %li
            %a.tooltip.icon-emphasis{ href: '#', title: '強調' }
          %li
            %a.tooltip.icon-strike{ href: '#', title: '打消' }
          %li
            %a.tooltip.icon-quote{ href: '#', title: '引用' }
          %li.divide
            %a.tooltip.icon-alignleft{ href: '#', title: '左揃え' }
          %li
            %a.tooltip.icon-aligncenter{ href: '#', title: '中央揃え' }
          %li
            %a.tooltip.icon-alignright{ href: '#', title: '右揃え' }

        %ul.right
          %li
            %a.tooltip.icon-tile{ href: '#', title: 'デザイン' }
          %li.selected
            %a.tooltip.icon-code{ href: '#', title: 'コード' }

      = f.text_area :content, class: 'hide'


  #pocket_side

    %section
      %h2 ステータス

      %table.form
        %tr
          %td{ width: '50px' }
            = f.label :status, '公開状況'
          %td{ colspan: 2 }
            %div.select
              = f.select :status, { '非公開' => 0, '公開' => 1 }
        %tr
          %td
            = f.label :user_id, '作成者'
          %td{ colspan: 2 }
            %div.select
              = f.collection_select :user_id, User.admin, :id, :name

        %tr
          %td
            = f.label :date_str, '作成日時'
          %td{ width: '110px' }
            .text.icon-dailycalendar
              = f.text_field :date_str
          %td
            .text.icon-time
              = f.text_field :time_str

        %tr.doubled
          %td{ colspan: 3 }
            = f.submit class: 'btn btn-primary block'

    %section
      %h2 サムネイル

      #post_thumbnail_preview.post-thumbnail
        - if @post.thumbnail.present?
          = image_tag @post.thumbnail.asset.url(:thumbnail)

          .edit.has-two
            %i.icon-image
            %i.icon-ban

        - else
          .sample

          .edit.has-one
            %i.icon-plus

      = f.hidden_field :thumbnail_id

    %section
      %h2 タグ
      = text_field_tag 'post[tags]', 'foo,bar,baz', class: 'hide'

      - @post.terms.map do |v|
        %p
          = v.name
          = v.taxonomy.name

    - unless @post.new_record?
      %section
        %h2 記事を削除
        = link_to '削除する', admin_post_path(@post), method: :delete, confirm: true, class: 'btn btn-danger block'
