
= form_for [:admin, @post], html: { multipart: true, id: 'post_form' }, remote: (action_name == 'edit') do |f|

  #pocket_body
    #main.no-padding
      = f.text_field :title, placeholder: 'タイトルを入力してください', class: 'panel-title', autocomplete: 'off'

      .menubar
        %ul
          %li
            %a.icon-link{ href: '#' }
          %li
            %a.icon-image{ href: '#' }
          %li.divide
            %a.icon-bold{ href: '#' }
          %li
            %a.icon-italic{ href: '#' }
          %li
            %a.icon-underline{ href: '#' }
          %li
            %a.icon-emphasis{ href: '#' }
          %li
            %a.icon-strike{ href: '#' }
          %li
            %a.icon-quote{ href: '#' }
          %li.divide
            %a.icon-alignleft{ href: '#' }
          %li
            %a.icon-aligncenter{ href: '#' }
          %li
            %a.icon-alignright{ href: '#' }

        %ul.right
          %li
            %a.icon-tile{ href: '#' }
          %li.selected
            %a.icon-code{ href: '#' }

      = f.text_area :content, rows: 5, class: 'hide'


  #pocket_side

    %section
      %h2 ステータス

      %table.form
        %tr
          %td{ width: '50px' }
            = f.label :status, '公開状況'
          %td{ colspan: 2 }
            %div.select
              = f.select :status, { '非公開' => 0, '公開' => 1 }
        %tr
          %td
            = f.label :user_id, '作成者'
          %td{ colspan: 2 }
            %div.select
              = f.collection_select :user_id, User.admin, :id, :name

        %tr
          %td
            = f.label :date_str, '作成日時'
          %td{ width: '110px' }
            .text.icon-dailycalendar
              = f.text_field :date_str
          %td
            .text.icon-time
              = f.text_field :time_str

        %tr.doubled
          %td{ colspan: 3 }
            = f.submit class: 'btn btn-primary block'

    %section
      %h2 サムネイル

      #post_thumbnail_preview.post-thumbnail
        - if @post.thumbnail.present?
          = image_tag @post.thumbnail.asset.url(:small)

          .edit.has-two
            %i.icon-image
            %i.icon-ban

        - else
          .sample

          .edit.has-one
            %i.icon-plus

      = f.hidden_field :thumbnail_id

    %section
      %h2 タグ
      = text_field_tag 'post[tags]', 'foo,bar,baz', class: 'hide'

      - @post.terms.map do |v|
        %p
          = v.name
          = v.taxonomy.name

    - unless @post.new_record?
      %section
        %h2 記事を削除
        = link_to '削除する', admin_post_path(@post), method: :delete, confirm: true, class: 'btn btn-danger block'


:coffee
  require ['jquery', 'datepicker'], ($) ->
    $('#post_date_str').datepicker(format: 'yyyy.mm.dd')

  require ['jquery', 'tags-input'], ($) ->
    $('#post_tags').tagsInput
      autocomplete_url: '/admin/terms/search.txt'
      autocomplete: {selectFirst:true,width:'100px',autoFill:true}
      width: 260
      height: 'auto'
      defaultText: 'タグを追加'

  require [
    'jquery'
    'ace/ace'
    'ace/theme/solarized_light'
    'ace/mode/html'
    'domReady!'
  ], ($, ace) ->
    $textarea = $('#post_content').hide()
    $('<div id="post_content_ace"></div>')
      .insertBefore $textarea

    editor = ace.edit 'post_content_ace'
    editor.setTheme 'ace/theme/solarized_light'
    editor.getSession().setMode 'ace/mode/html'

    editor.getSession().setTabSize 2
    editor.getSession().setUseWrapMode true
    editor.setShowPrintMargin false
    editor.focus();

    editor.getSession().setValue $textarea.val()
    editor.getSession().on 'change', ->
      $textarea.val editor.getSession().getValue()

    editor.commands.addCommand
      name: 'Save'
      bindKey: win: 'Ctrl-S', mac: 'Command-S'
      readOnly: false
      exec: (editor) ->
        $('#post_form').submit()

  require ['jquery', 'common/notify', 'common/transit', 'domReady!'], ($, notify, transit) ->
    st = notify()

    $form = $ 'form'

    $post_thumbnail = $ '#post_thumbnail'
    $post_thumbnail_preview = $ '#post_thumbnail_preview'

    $post_thumbnail_preview.find('i').on 'click', ->
      $post_thumbnail.click()

    $post_thumbnail.on 'change', (e) ->
      file = e.target.files[0]

      $post_thumbnail_preview.addClass('post-thumbnail').empty() if file

      $img = $('<img/>').appendTo $post_thumbnail_preview

      reader = new FileReader()

      reader.onload = (e) ->
        $img.attr 'src', e.target.result

      reader.readAsDataURL file

    $form
    .on 'submit', ->
      st.progress '変更を保存中'
    .on 'ajax:success', (_, res) ->
      if res.success
        st.success res.msg, 'save'
        $form.attr 'action', res.action

        if $form.find('input[name="_method"]').length == 0
          $form.append '<input type="hidden" name="_method" value="put">'
          transit.changeUrl res.redirect, false
      else
        st.fail res.msg

        $form.prepend '<p>' + e + '</p>' for e in res.errors ? []

