- @posts.each do |post|
  %tr[post]
    %td.bulk
      = check_box :macro, post.id, { class: 'checkbox' }
    %td= link_to post.title, edit_admin_post_path(post)
    %td= post.user.name
    %td= I18n.l post.created_at
    %td
      .post-thumbnail
        - if post.thumbnail.present?
          = image_tag post.thumbnail.asset.url(:small), size: '80x57'
        - else
          = image_tag 'http://placehold.it/243x172', size: '80x57'
    %td.controller
      = link_to edit_admin_post_path(post) do
        %i.icon-edit
      = link_to admin_post_path(post), method: :delete, remote: true do
        %i.icon-delete
      = link_to post_path(post), target: '_blank' do
        %i.icon-view
