- content_for :menubar do
  = link_to '', new_admin_post_path, class: 'icon-plus', title: 'ブログ記事を作成'

#pocket_body
  #main.no-padding.loader
    %table.table.table-hover
      %thead
        %tr
          %th{ width: '24px' }
            %i.icon-check
          %th{ 'data-sort' => 'title' } タイトル
          %th{ 'data-sort' => 'user_name' } 作成者
          %th{ 'data-sort' => 'created_at', width: '130px' } 作成日
          %th{ width: '94px' } サムネイル
          %th
            %i.icon-play

      %tbody#posts_list


#pocket_side
  %div.hide{ 'data-state' => 'normal' }
    %section
      %h2 ページ

      %table.form
        %tr
          %td{ width: '50px' }= label_tag :page_num, 'ページ'
          %td
            .text
              = button_tag '', id: 'page_first', class: 'btn-first'
              = button_tag '', id: 'page_prev', class: 'btn-prev'
              = text_field_tag :page_num, ''
              = button_tag '', id: 'page_next', class: 'btn-next'
              = button_tag '', id: 'page_last', class: 'btn-last'
        %tr
          %td= label_tag :per_page, '表示数件'
          %td
            = text_field_tag :per_page, ' ', class: 'text block'

    %section
      %h2 検索

      = form_tag admin_posts_path, method: :get do
        %table.form
          %tr
            %td
              .text.icon-search
                = text_field :post, :title, placeholder: 'タイトル で検索'
          %tr
            %td
              %div.select
                = collection_select :post, :user_id, User.all, :id, :name, prompt: '作成者 で絞り込み'

          %tr.doubled
            %td{ colspan: 2 }
              = button_tag '検索する', class: 'btn btn-primary block'

  %div.hide{ 'data-state' => 'selecting' }
    %section
      %h2
        %span.counter 0
        項目を選択中

      = button_tag '選択を解除する', id: 'btn_disselect', class: 'btn block'

    %section
      %h2 一括編集

      = form_tag admin_posts_path, method: :get do
        %table.form.table-doubled
          %tr
            %td{ colspan: 2 }
              %h3= label_tag :bulk_status,'公開状況'
              %div.select
                = select :bulk_status, nil, { '非公開' => 0, '公開' => 1 }, prompt: '変更なし'
          %tr
            %td{ colspan: 2 }
              %h3= label_tag :bulk_user,'作成者'
              %div.select
                = collection_select :bulk_user, :user_id, User.all, :id, :name, prompt: '変更なし'

          %tr
            %td
              = button_tag '変更を適応する', id: 'btn_update', class: 'btn btn-success block'
            %td
              = button_tag '削除する', id: 'btn_delete_all', class: 'btn btn-danger block'

