
#main
  = form_for [:admin, @term] do |f|

    %table.form
      %tr
        %td
          = f.label :name, '名前'
        %td
          = f.text_field :name, class: 'text'

      %tr
        %td
          = f.label :taxonomy_id, '分類'
        %td
          %span.select
            = f.collection_select :taxonomy_id, Taxonomy.all, :id, :name

      %tr.doubled
        %td{ colspan: 2 }
          = f.submit nil, class: 'btn btn-primary'
