
#pocket_body
  #main
    = form_for [:admin, @user], html: { id: 'user_form', 'data-id' => params[:id] } do |f|

      %h2.top-title プロフィール情報

      %table.form
        %tr
          %td
            = f.label :name, 'アバター'
          %td
            = image_tag avatar_url(current_user, 64), alt: '', size: '64x64'

        %tr
          %td.label
            = f.label :name, '名前'
          %td
            = f.text_field :name, class: 'text block'


      %h2 アカウント情報

      %table.form
        %tr
          %td.label
            = f.label :email, 'メールアドレス'
          %td
            = f.text_field :email, class: 'text block'

        %tr
          %td
            = f.label :password, 'パスワード'
          %td
            - if 'new' == action_name
              = f.text_field :password, placeholder: 'パスワードを入力', class: 'text block', autocomplete: false
            - else
              = f.password_field :password, placeholder: 'パスワードを変更する場合は入力', class: 'text block', autocomplete: false

        %tr
          %td
            = f.label :password_confirmation, 'パスワード (確認用)'
          %td
            - if 'new' == action_name
              = f.text_field :password_confirmation, placeholder: 'パスワードを入力', class: 'text block', autocomplete: false
            - else
              = f.password_field :password_confirmation, placeholder: 'パスワードを変更する場合は入力', class: 'text block', autocomplete: false

        %tr
          %td
            = f.label :admin, 'ユーザ権限'
          %td
            .select
              = f.select :admin, { 'コメンター' => 0, '管理者' => 1 }


      %h2 ソーシャルアカウント

      %table.form
        %tr
          %td.label Facebook
          %td
            = button_tag 'Facebook アカウントと連動', class: 'btn btn-success'

        %tr
          %td Twitter
          %td
            = button_tag 'Twitter アカウントと連動', class: 'btn btn-success'



#pocket_side

  %section
    %h2 保存

    = button_tag '保存する', id: 'btn_save', class: 'btn btn-primary block'

  %section
    %h2 ユーザを削除

    = button_tag '削除する', id: 'btn_delete', class: 'btn btn-danger block'

