!!!
%html
  %head
    %title= page_title

    = csrf_meta_tags

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,700'
    = stylesheet_link_tag 'admin/application', media: 'all'

    = javascript_include_tag 'admin/require-config'

    - if is_admin?
      = javascript_include_tag 'require', data: { main: 'admin/application' }
      = render 'admin/application/flash', flash: flash
    - else
      = javascript_include_tag 'require'

    = view_script_tag

  %body{ id: controller_name, class: action_name }

    - if is_admin?
      = render 'header'

      #container
        #menubar
          %h1
            = document_title
            = yield :menubar

        = yield

    - else

      = yield

    = yield :js
